@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Quattrocento&family=Roboto+Condensed&family=Satisfy&display=swap');

body {
  font-family: 'Barlow', sans-serif;
  background-color: #FAF7F2; /* bej */
  color: #292929; /* koyu gri */
  padding: 20px;


.homebody{
  font-family: 'Barlow', sans-serif;
  background-color: #FAF7F2; /* bej */
  color: #292929; /* koyu gri */
  padding: 500px;
  background-image: url(C:\Users\p\Documents\GitHub\fsweb-s8-challenge-pizza\images\iteration-1-images\home-banner.png );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
}

button {
  background-color: #FDC913; /* sarı */
  color: #292929;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

.error {
  color: #CE2829; /* kırmızı */
  font-size: 0.9rem;
}

input, textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #5F5F5F;
}
